body {
    background-color: #222222;
}

ul {
    margin: 0;
    padding: 0;
}

.full {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url("../public/img/sea-waves-bg.png") !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    background-size: contain !important;
    padding-bottom: 120px !important;
}

.logo {
    width: 64px;
    height: 64px;
    vertical-align: baseline;
    margin: 1px 25px -20px;
}

.buttons {
    position: fixed !important;
    left: 13px;
    bottom: 13px;
    right: 13px;
}

.timer {
    position: absolute;
    width: fit-content;
    right: 20px;
    bottom: 20px;
}

.time {
    margin: 0;
    text-align: center;
}

.settings {
    position: fixed;
    bottom: 100px
}

.player {
    font-size: small;
    list-style: none;
    position: relative;
    margin: 20px !important;
    width: 380px;
}

.player h2 {
    text-align: left;
}

.avatar {
    padding: 8px;
    background-image: url("../public/img/border-image-golden.png");
    background-size: cover;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 5px;
}

.role {
    position: relative;
}

.role-label {
    display: inline-block !important;
    height: 40px;
    font-size: 15px;
    margin-top: 18px;
}

.role-points {
    width: 40px !important;
    margin-left: 10px;
    position: absolute;
    left: 120px;
    top: 26px
}

.add-points-button {
    position: absolute;
    left: 170px;
    margin-left: 10px;
    padding: 4px !important;
}

.add-points-input {
    width: 40px !important;
    margin-left: 1px;
    margin-right: 10px;
}

.rpgui-icon {
    margin-left: 8px;
    margin-right: 8px;
}

.rpgui-icon img {
    width: 100%;
    height: 100%;
}

.help-overlay {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 10px;
    right: 10px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

}

.role-description {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 500px;
    min-height: 360px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.add-player-button {
    margin-top: 20px;
    margin-left: 20px;
}

.add-player-form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    max-width: 500px;
    height: 520px;
}

.add-player-form button {
    margin-left: 40px;
    margin-right: 30px;
}

.role-description h4 {
    text-align: left;
    margin-left: 0;
}

.clear-left {
    clear: left;
}

.yellow {
    font-weight: bold;
    color: yellow !important;
}

.avatar-select {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.avatar-option {
    display: inline-block;
    padding: 4px;
    background-image: url("../public/img/border-image-golden2.png");
    background-size: cover;
    margin: 2px;
}

.avatar-option.selected {
    background-image: url("../public/img/border-image-grey.png");
}