body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
    clear: both;
}

h2{
    margin-bottom: 5px;
}
input {
    height: 16px;
    line-height: 16px;
    display: inline-block;
}

button{
    display: inline-block;
}

.role {
    width: 400px;
    display: block;
    position: relative;
    border-bottom: 1px solid black;
    clear: both;
    min-height: 21px;
}

.role > button {
    float: right;
}

.role-label {
    width: 200px;
    float: left;
    clear: left;
    display: block;
    position: relative;
}

.role-label > input {
    width: 40px;
    text-align: right;
    right: 0;
    margin-right: 0;
    position: absolute;
}

.add-points-form {
    clear: both;
    font-size: 9pt;
    margin-left: 155px;
}

.add-points-form input {
    width: 40px;
    text-align: right;
    height: 15px;
    margin-left: 4px;
}

