body {
    background-color: #222222;
}

ul {
    margin: 0;
    padding: 0;
}

.full {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url("../public/img/sea-waves-bg.png") !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    background-size: contain !important;
}

.logo {
    width: 64px;
    height: 64px;
    vertical-align: baseline;
    margin: 1px 25px -20px;
}

.buttons {
    position: fixed !important;
    left: 13px;
    bottom: 13px;
    right: 13px;
}

.timer {
    position: absolute;
    width: fit-content;
    right: 20px;
    bottom: 20px;
}

.time {
    margin: 0;
    text-align: center;
}

.settings {
    position: fixed;
    bottom: 100px
}

.player {
    list-style: none;
    position: relative;
    margin: 20px !important;
    width: 380px;
    float: left;
}

.role {
    position: relative;
}

.role-label {
    display: inline-block !important;
    height: 40px;
    font-size: 15px;
    margin-top: 18px;
}

.role-points {
    width: 40px !important;
    margin-left: 10px;
    position: absolute;
    left: 120px;
    top: 26px
}

.add-points-button {
    position: absolute;
    left: 170px;
    margin-left: 10px;
    padding: 4px !important;
}

.add-points-input {
    width: 40px !important;
    margin-left: 1px;
    margin-right: 10px;
}

.rpgui-icon {
    margin-left: 8px;
    margin-right: 8px;
}

.rpgui-icon img {
    width: 100%;
    height: 100%;
}

.help-overlay {
    position: absolute;
    left: 10px;
    right: 10px;
    text-align: center;
    clear: left;
}

.role-description {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 500px;
    min-height: 430px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}

.role-description h4 {
    text-align: left;
    margin-left: 0;
}

.clear-left {
    clear: left;
}

.yellow {
    font-weight: bold;
    color: yellow !important;
}