body {
    background-color: #222222;
}

ul {
    margin: 0;
    padding: 0;
}

.full {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.logo {
    width: 32px;
    height: 32px;
    vertical-align: baseline;
    margin: 5px 9px -3px;
}

.buttons {
    position: fixed !important;
    left: 13px;
    bottom: 13px;
    right: 32px;
}

.timer {
    position: absolute;
    width: fit-content;
    right: 20px;
    bottom: 20px;
}

.time {
    margin: 0;
    text-align: center;
}

.settings {
    position: fixed;
    bottom: 100px
}

.player {
    list-style: none;
    position: relative;
    margin: 20px !important;
    min-width: 380px;
    width: 20%;
    float: left;
}

.role {
    position: relative;
}

.role-label {
    display: inline-block !important;
    height: 40px;
    font-size: 15px;
    margin-top: 18px;
}

.role-points {
    width: 40px !important;
    margin-left: 10px;
    position: absolute;
    left: 120px;
    top: 26px
}

.add-points-button {
    position: absolute;
    left: 170px;
    margin-left: 10px;
    padding: 4px !important;
}

.add-points-input {
    width: 40px !important;
    margin-left: 1px;
    margin-right: 10px;
}

.time-over-overlay {
    left: 50%;
    margin-left: -25%;
    width: 50%;
    height: 400px;
    text-align: center;
}

.rpgui-icon {
    margin-left: 8px;
    margin-right: 8px;
}

.rpgui-icon img {
    width: 100%;
    height: 100%;
}